
    body {
      background-color: #EEEEEE;
    }

    hr{
      border-style: none;
      border-top-style: dotted;
      border-color: #87A2FB;
      border-width: 10px;
      width: 30%
    }

    h1{
      color: #6F38C5;
    }

    h3{
      color: #6F38C5;
    }




    h2{
      color: #6F38C5;
    }
